/** ADD YOUR AWESOME CODES HERE **/

.row {
  margin-top: 20px;
  justify-content: center;
  display: flex;
}

.row:nth-child(even) {
  flex-direction: row-reverse;
}

.sectionglobal {
  margin-top: 20px;
  justify-content: center;
  display: block;
}

.sectionglobal:nth-child(odd) .section .row {
  flex-direction: row-reverse;
}

.row:nth-child(even) {
  flex-direction: row-reverse;
}
